[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "greenclust"]
	path = greenclust
	url = https://github.com/jeffjetton/greenclust
